.project-card > span {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 100%;
	z-index: 5;
}

.project-card h3, .project-card p {
	color: var(--button-background);
	padding: 0 20px;
	position: relative;
	text-shadow: 0 0 5px var(--page-background);
	transition: 0.5s;
}

.project-card p {
	max-height: 0px;
	overflow: hidden;
	transition: background-color 0.5s, max-height 1s;
}

.project-card {
	background-position: center;
	background-size: cover;
	height: 300px;
	margin: 10px;
	overflow: hidden;
	position: relative;
	transition: 0.5s;
	width: 300px;
}

.project-card:hover {
	height: 320px;
	margin: 0px;
	width: 320px;
}

.project-card:hover h3 {
	background-color: var(--content-background);
	font-size: 22px;
	margin-top: 4px;
}

.project-card:hover p {
	background-color: var(--content-background);
	max-height: 200px;
}

.project-card::after {
	background: linear-gradient(transparent, var(--page-background));
	bottom: 0px;
    content: "";
	height: 100%;
	left: 0;
	opacity: 1;
	position: absolute;
	transition: 0.5s;
	width: 100%;
}

.project-card:hover::after {
	bottom: -100%;
}

.project-card:first-child {
	width: 620px;
}

.project-card:first-child:hover {
	width: 640px;
}

section:hover .project-card::after {
	background: linear-gradient(transparent, var(--content-background));
	transition: 0.5s;
}

.showcase-hopto {
	background-image: url(https://user-images.githubusercontent.com/64815650/87613461-00ada300-c6d3-11ea-92d9-47cded5c1550.png?raw=true);
}

.showcase-esorp {
	background-image: url(https://github.com/TheBobbyLlama/eso-rollplay/blob/master/snapshot.gif?raw=true);
}

.showcase-pagebound {
	background-image: url(https://github.com/TheBobbyLlama/pagebound/blob/master/Snapshot.png?raw=true);
}

/* TODO - Better screenshot to come. */
.showcase-projectivity {
	background-image: url(https://github.com/alexo-a/projectivity/blob/main/client/public/logo512.png?raw=true);
}

.showcase-tech-blog {
	background-image: url(https://github.com/TheBobbyLlama/tech-blog/blob/master/snapshot.png?raw=true);
}

.showcase-obfuscator {
	background-image: url(https://github.com/TheBobbyLlama/obfuscator/blob/master/snapshot.png?raw=true);
}

@media screen and (max-width: 980px) {
	.project-card h3 {
		background-color: var(--content-background);
		font-size: 22px;
	}
	
	.project-card p {
		background-color: var(--content-background);
		max-height: 500px;
	}
}

@media screen and (max-width: 700px) {
	.project-card:first-child, .project-card:first-child:hover {
		width: 500px;
	}
}

@media screen and (max-width: 440px) {
	.project-card, .project-card:hover {
		height: 240px;
		width: 240px;
	}
}